<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="Type" value="HA" />
    <add key="Doamin" value="emr03" />
    <add key="ServerName" value="emr03" />
    <add key="Description" value="" />
    <!--1 open 0 close-->
    <add key="Send_Json" value="1"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EricWebServicesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.200.1.79/EricWS/EricWebServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="EricWebServicesSoap"
        contract="SMS_API.EricWebServicesSoap" name="EricWebServicesSoap" />
    </client>
  </system.serviceModel>
</configuration>